/* style.css */

#clock {
    font-size: 175px;
    width: 900px;
    margin: 200px;
    text-align: center;
    border: 2px solid blue;
    border-radius: 20px;
}

.welcome-container {
  text-align: center;
  margin-top: 30vh;
}

button {
  font-size: 1.5rem;
  padding: 0.75em 2em;
}
